html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

p {
  margin: 0;
}

.logobar {
  display: block;
  background-color: black;
  width: 100%;
  height: min-content;
}

.logobar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  margin-left: 25%;
}

.logobar-container img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.name {
  padding: 0.66rem 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url("../media/moto.jpeg");
  background-size: cover;
  height: 25rem;
  width: auto;
}

.banner-container {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
  height: min-content;
  background-color: black;
}

.banner p {
  text-transform: uppercase;
  font-weight: bold;
}

.banner h1 {
  text-transform: uppercase;
  margin: 0.25rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  width: 100%;
  background-color: firebrick;
  height: min-content;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin-left: 25%;
  padding: 0.75rem 0;
}

a {
  color: white;
  text-decoration: none;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin-left: 25%;
  padding: 3rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
}

.product-image img {
  width: 9rem;
  height: auto;
}

.product p {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

.lh {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-left: 25%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.lh-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.top {
  background-color: black;
  padding: 1rem 2rem;
  margin: 0;
}

.bottom {
  color: black;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  min-height: 10rem;
  background-color: black;
  padding-left: 25%;
}
