html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

p {
  margin: 0;
}

.container {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: 960px;
  margin: 0 auto;
}

.logobar  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  height: min-content;
}

.logobar .container img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.name {
  padding: 0.66rem 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url("../media/moto.jpeg");
  background-size: cover;
  height: 25rem;
  width: auto;
}
.banner .text {
  margin-left: 0;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
  height: min-content;
  background-color: black;
  background-image: none;
}

.banner p {
  text-transform: uppercase;
  font-weight: bold;
}

.banner h1 {
  text-transform: uppercase;
  margin: 0.25rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: firebrick;
  padding: 0.75rem 0;
}

.menu-expand {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.menu-small {
  justify-content: center;
  align-items: inherit;
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
}

.product-image img {
  width: 9rem;
  height: auto;
}

.product p {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

.lh {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.lh-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.top {
  background-color: black;
  padding: 1rem 2rem;
  margin: 0;
}

.bottom {
  color: black;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 10rem;
  background-color: black;
}
/*For medium screens; this works*/
@media only screen and (max-width: 1024px) {
  .container {
    margin: 0;
  }
  .product {
    width: 47%;
  }
  #glasses {
    display: none;
  }
  .menu-small {
    display: inherit;
  }
  .menu-expand {
    display: none;
  }
}
/*For small screens; this doesn't work*/
@media only screen and (max-width: 470px) {
  .lh {
    flex-direction: column;
  }
  .banner {
    height: 15rem;
  }
  .banner .text {
    margin-top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
  }
  .banner p {
    font-size: 0.77rem;
  }
  .banner h1 {
    font-size: 1rem;
  }
  .product {
    width: 90%;
  }
  .footer {
    justify-content: center;
  }
  #watch {
    display: none;
  }
}
